body {
    background-image: url('Image/fundo.png.png'); /* Imagem de fundo */
    background-size: cover; /* Cobrir todo o fundo */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-attachment: fixed; /* Fixar a imagem ao rolar */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative; /* Permite posicionar elementos filhos de forma absoluta */
}

header {
    background-color: #ce3f97;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative; /* Mantém o header acima da imagem de fundo */
    z-index: 2; /* Garante que o header fique acima do main */
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

main {
    padding: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.414); /* Fundo semi-transparente */
    border-radius: 10px; /* Bordas arredondadas */
    margin: 20px auto; /* Centraliza o main */
    max-width: 600px; /* Largura máxima */
    position: sticky; /* Permite sobrepor a imagem de fundo */
    z-index: 1; /* Garante que o main fique acima da imagem de fundo */
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.servicos-imagem {
    width: 100%;
    max-width: 700px;
    height: 650px;
    width: 100%; /* Ocupa 100% da largura da tela */
    max-width: 14000px; /* Define uma largura máxima */
    border: 0px solid #ccc;
    border-radius: 10px;
    margin: 200px 0;
    position: absolute; /* Posiciona a imagem de forma absoluta */
    top: 0;
    left: 0;
    z-index: 0; /* Coloca a imagem atrás do main */
}

footer {
    background-color: #8d004e;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed; /* Fixa o footer na tela */
    bottom: 0; /* Coloca o footer no final da tela */
    width: 100%; /* Ocupa toda a largura */
    z-index: 1000; /* Garante que o footer fique acima de outros elementos */
}